.DS_Store
node_modules/
dist/
build/
.env
.env.local
.env.*.local
*.log
.idea/
.vscode/*
!.vscode/extensions.json
.VS/
*.swp
*.swo
*~
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
